:root {
  --background: #121111;
  --main-text: #f3f3f3;
  --main-font: 'Moderustic', sans-serif;
}

* {
  color: var(--main-text);
  font-family: var(--main-font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.container {
  width: 90%;
  display: flex;
  height: 100%;
  flex-direction: column;
  max-width: 800px;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2rem;
}

.intro {
  margin-bottom: 20px;
}

h1 {
  color: #333;
  margin-bottom: 10px;
}

p {
  color: #666;
  line-height: 1.6;
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Responsive Styling */
@media (min-width: 768px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .intro,
  .image {
    width: 48%;
  }

  .image img {
    width: 100%;
  }
}

/* h1,
h2 {
  color: var(--main-text);
  font-family: var(--main-font);
} */
